<!-- app/views/admin_area/event_sessions/new.html.erb -->
<div class="container mt-4">
  <h2>Create New Session</h2>

  <%= form_with(model: @event_session, url: admin_area_event_sessions_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "Session Name" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    
    <div class="form-group">
      <%= f.label :date, "Session Date" %>
      <%= f.date_field :date, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :location, "Session Location" %>
      <%= f.text_field :location, class: "form-control", required: true %>
    </div>

    <%= f.submit "Create Session", class: "btn btn-primary mt-3" %>
  <% end %>
</div>

